In [42]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
from scipy.optimize import minimize
os.chdir("C:/Users/Pranshul/Desktop/machine-learning-ex2/ex2")
data = pd.read_csv("ex2data1.txt")
data

           X1         X2  Y
0   34.623660  78.024693  0
1   30.286711  43.894998  0
2   35.847409  72.902198  0
3   60.182599  86.308552  1
4   79.032736  75.344376  1
..        ...        ... ..
95  83.489163  48.380286  1
96  42.261701  87.103851  1
97  99.315009  68.775409  1
98  55.340018  64.931938  1
99  74.775893  89.529813  1

[100 rows x 3 columns]

In [43]:
X1 = data.X1;
X2 = data.X2;
Y = data.Y;
i = np.ones(X1.shape[0])
x1 = np.array(X1);
x2 = np.array(X2);
y = np.array(Y);
m = y.shape[0];
lamda = 1000;

In [44]:
def sigmoid(z):
    g = 1/(1 + np.exp(-z));
    return g;

In [45]:
m = y.shape[0];
theta = np.array([-24, 0.2, 0.2]);
p = theta.shape[0];
def costfunction(y,x1,x2,theta):
    j=0;
    q=0;
    m = y.shape[0];
    h = np.zeros(m);
    for n in range(0,p):
        q = q + pow(theta[n],2);
    for n in range(0,m):
           h[n] = sigmoid(theta[0] + theta[1]*x1[n] + theta[2]*x2[n]);
    for n in range(0,m):
        j = j + -y[n]*(np.log(h[n])) - (1 - y[n])*(np.log(1 - h[n]));
    j = j/m + (lamda/(2*m))*q;
    return j;

In [46]:
def grad(y,x1,x2,theta):
    m = y.shape[0];
    p = theta.shape[0];
    h = np.zeros(m);
    grad = np.zeros(p);
    for n in range(0,m):
           h[n] = sigmoid(theta[0] + theta[1]*x1[n] + theta[2]*x2[n]);
    for k in range(0,m):
          grad[0] = grad[0] + (i[k]*(h[k] - y[k]));
          grad[1] = grad[1] + (x1[k]*(h[k] - y[k]));
          grad[2] = grad[2] + (x2[k]*(h[k] - y[k]));
    grad[0] = grad[0]/m;
    for n in range(1,p):
        grad[n] = grad[n]/m + (lamda/m)*theta[n];
    return grad;

In [47]:
grad(y,x1,x2,theta)

array([0.04290299, 4.56623412, 4.64679737])

In [48]:
iterations = 15000;
alpha = 0.001;
h = np.zeros(m);
for n in range(0,iterations):
    r=np.zeros(p);
    for n in range(0,m):
           h[n] = sigmoid(theta[0] + theta[1]*x1[n] + theta[2]*x2[n]);
    for j in range(0,m):
        r[0] = r[0] + (h[j] - y[j]);
        r[1] = r[1] + (h[j] - y[j]) * x1[j];
        r[2] = r[2] + (h[j] - y[j]) * x2[j];
       
    for q in range(0,p): 
        theta[q] = theta[q] - alpha * r[q]/m;

In [49]:
theta

array([-24.00558013,   0.19698882,   0.1921186 ])

In [50]:
def predict(x1,x2,theta):
        a = np.zeros(m);
        s = np.zeros(m);
        for n in range(0,m):
            a[n] = a[n] + theta[0]*i[n] + theta[1]*x1[n] + theta[2]*x2[n];
            a[n] = sigmoid(a[n]);
            if(a[n]>=0.5):
                s[n] = 1;
            else:
                s[n] = 0;
        return s;

In [51]:
count =0;
for n in range(0,m):
    if(y[n]==predict(x1,x2,theta)[n]):
        count = count + 1;
print("accuracy =" ,count);

accuracy = 89